{% extends 'main.html' %} {% block content %}
<div class="main">
    <div class="head1">
        <h1>Paste the URL to be shortened</h1>
        {% if error_meassage %}
        <p id="error">{{error_meassage}}</p>
        {% endif %}
        <div class="form">
            <form action="/url" method="POST">
                <input type="url" name="mainurl" placeholder="Enter the link here">
                <button>Submit URL</button>
            </form>
        </div>
        <p class="dis">ShortURL is a free tool to shorten URLs and generate short links
            URL shortener allows to create a shortened link making it easy to share</p>
    </div>
</div>
{% endblock %}
