{% extends 'main.html' %} {% block content %}
<div class="rhome">
    <div class="p1">
        <h1>Your shortened URL</h1>
        <p>Copy the shortened link and share it in messages, texts, posts, websites and other locations.
        </p>
    </div>
    <div class="p2">
        <div class="ib">
            <input type="url" value={{val}} name="" id="">
            <button>Copy URL</button>
        </div>
        <p>Long URL: <a class="lurl-link" target="_blank" href={{lurl}}>{{lurl}}</a></p>
        <button><a href="/">Shorten another URL</a></button>
    </div>
</div>

{% endblock %}
