.heading > h1 {
  text-align: center;
  font: 900 49px asap, arial;
  color: #0186da;
  letter-spacing: -1px;
  text-shadow: 0 2px 2px #ddd;
  word-wrap: break-word;
  padding: 32px;
  margin: 0;
}
.heading{
  box-shadow: 0 1px 4px #ccc;
}
.head1 > h1 {
  margin: 0 0 10px 0;
  font: bold 36px asap, arial;
  color: #505050;
  letter-spacing: -1px;
}
.head1 {
  margin: 0 auto 20px auto;
  max-width: 758px;
  box-shadow: 0 1px 4px #ccc;
  border-radius: 2px;
  padding: 10px 30px 5px;
  background: #fff;
  text-align: center;
}
main {
  display: block;
  margin: 0 auto 0 auto;
  padding: 0 20px;
  max-width: 1000px;
}
.form > form {
  display: flex;
  justify-content: center;
  padding: 0 60px;
}
.form > form > input {
  flex: 1;
  font: lighter 17px lato, arial;
  height: 50px;
  border: 1px solid #505050;
  border-radius: 7px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  padding-left: 16px;
  padding-right: 16px;
}

.form > form > button {
  font: bold 17px lato, arial;
  height: 54px;
  border-radius: 7px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  background-color: #0186da;
  color: white;
}

.dis {
  margin: 20px auto 30px;
  font: 17px "source sans pro", arial;
  color: #202020;
  font: optional;
  max-width: 600px;
}
#error {
  margin: 0 auto 10px;
  padding: 10px;
  background-color: rgb(255, 210, 210);
  color: red;
  border-radius: 10px;
  font-size: 1.2rem;
  max-width: 250px;
}
/* redirect */
.rhome {
  margin: 20px auto 0;
  max-width: 1000px;
  display: block;
}
.p1{
  margin: 20px auto 0;
  max-width: 700px;

}
.p1 > h1 {
  margin: 0 0 7px 0;
  font: bold 36px asap, arial;
  color: #505050;
  letter-spacing: -1px;
}
.p1>p{
  font: 17px "source sans pro", arial;
  color: #202020;
  font-family: optional;
  margin-top: 1px;
}
.p2{
  max-width: 800px;
  box-shadow: 0 1px 4px #ccc;
  margin: 35px auto 0;
  display: block;
  padding: 5px 30px 5px
}
.ib{
  display: flex;
  justify-content: center;
  margin-top: 20px;

}
.p2>.ib>input{
  font:bold 17px 'Roboto Mono', monospace;
  height: 50px;
  width: 350px;
  border: 1px solid #505050;
  border-radius: 7px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  padding-left: 16px;
  padding-right: 16px;
}
.p2>.ib>button{
  font: bold 17px lato, arial;
  height: 54px;
  border-radius: 7px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  background-color: #0186da;
  color: white;
}
.p2>p{
  margin: 10px auto 10px 160px ;
  color: #505050;
  font-weight: bold;

}
.lurl-link {
    color: blue; 
    text-decoration: none;
    font: bold 17px 'Roboto Mono', monospace;
}
a[href="/"]:hover,.lurl-link:hover {
  text-decoration: underline;
}
a[href="/"]{
  color: white;
  font-family:Arial, Helvetica, sans-serif ;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
}

.p2>button{
  background-color: #0186da;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 180px;
  margin: 40px auto 10px 160px ;
}
